<h1>This is the secret page</h1>
<p> you found me!</p>

<img src="https://cdn.lifehack.org/wp-content/uploads/2017/05/31021330/The-Ultimate-Guide-to-Dealing-With-Every-Embarrassing-Moment-in-Life.001.jpeg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</li>
<li><a href="/logout">Logout!</a></li>